[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
torch = "*"
pandas = "*"
numpy = "*"
scipy = "*"
pillow = "*"
efficientnet-pytorch = "*"
torchvision = "*"
python-multipart = "*"
db-sqlite3 = "*"

[dev-packages]
safety = "*"
pytest = "*"
pytest-cov = "*"
blue = "*"
isort = "*"
taskipy = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.4"
